# Python compiled byte code
*.pyc

.idea

# SQLite3 database
*.sqlite3

# Node modules
node_modules/

# Bower components
static/bower_components/

static/javascripts/build/
static/javascripts/dist/

private_scripts/
