<div class="start-page" ng-controller="AboutController as about">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary about">

              <div class="panel-heading">
                <p class="panel-title">Менеджер заметок</p>
              </div>
                <div class="panel-body" ng-show="introductionActive">
                    <div class="short_description">
                        <h3>Краткое описание</h3>
                        <p class="short_description--content">
                            Рады приветствовать вас на нашем сервисе <b>Море заметок!</b> Целевая аудитория данного сервиса
                            неограничена. Несмотря на вашу принадлежность к любому возрастному клану, рабочему
                            статусу, мы надеемся, что вы найдете
                            этот серис полезным для себя. Для школьников можно хранить здесь свои 'напоминалки' по домашним заданиям,
                            составлять какие-то общие заметки с друзьями и одноклассниками, публикая свою заметку и предоставляя
                            доступ к ссылке кому только захотите. Рабочие могут временно или постоянно хранить здесь свои записи
                            по рабочим моментам, сроки выполнения задач. Спортсмены-профессионалы или любители могут собирать здесь
                            информацию, связанную с спортивными мероприятиями, кратковременные или догосрочные планы по увеличению своих
                            показателей, контролируя и мотивируя самого себя.
                        </p>
                    </div>
                    <div class="references about-references">
                        <a href="/register" class="about-references__link">Зарегистрироваться</a>
                        <a href="/register" class="about-references__link">Войти</a>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-danger about">
                    <div class="panel-heading">
                        <h1>Возможности сервиса</h1>
                    </div>
                    <div class="panel-body">
                        <div class="short_description">
                            <p class="short_description--content">Сервис предоставляет вам следующие возможности:</p>
                            <ul>
                                <li>Создавать новые заметки</li>
                                <li>Держать все заметки в одном месте, для просмотра нужен только доступ в Интернет</li>
                                <li>Редактировать, удалять свои заметки</li>
                                <li>Публиковать заметки, получая ссылку, с которой можете поделиться с кем угодно</li>
                                <li>Сортировать свои заметки по различным критериям</li>
                                <li>Фильтровать свои заметки по различным критериям</li>
                                <li>Просматриать публичные заметки, к которым вам  предоставили доступ</li>
                            </ul>
                        </div>
                        <div class="references about-references">
                            <a href="/register" class="about-references__link">Зарегистрироваться</a>
                            <a href="/register" class="about-references__link">Войти</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>


