{% load staticfiles %}

<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-material-design/dist/js/material.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-material-design/dist/js/ripples.js' %}"></script>
<script src="{% static 'bower_components/underscore/underscore.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js' %}"></script>
<script src="{% static 'bower_components/angular/angular.js' %}"></script>
<script src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
<script src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
<script src="{% static 'bower_components/ngDialog/js/ngDialog.js' %}"></script>
<script src="{% static 'bower_components/pickmeup/js/jquery.pickmeup.min.js' %}"></script>

<script src="{% static 'javascripts/prengapp/notesea.js' %}"></script>
<script src="{% static 'javascripts/prengapp/notesea.config.js' %}"></script>
<script src="{% static 'javascripts/prengapp/notesea.routes.js' %}"></script>

<script src="{% static 'javascripts/prengapp/authentication/authentication.module.js' %}"></script>
<script src="{% static 'javascripts/prengapp/authentication/services/authentication.service.js' %}"></script>
<script src="{% static 'javascripts/prengapp/authentication/controllers/register.controller.js' %}"></script>
<script src="{% static 'javascripts/prengapp/authentication/controllers/login.controller.js' %}"></script>
<script src="{% static 'javascripts/prengapp/utils/utils.module.js' %}"></script>
<script src="{% static 'javascripts/prengapp/utils/services/datestaff.service.js' %}"></script>
<script src="{% static 'javascripts/prengapp/utils/services/arraystaff.service.js' %}"></script>
<script src="{% static 'javascripts/prengapp/utils/services/randomstaff.service.js' %}"></script>
<script src="{% static 'javascripts/prengapp/utils/filters/truncate.filter.js' %}"></script>
<script src="{% static 'javascripts/prengapp/layout/layout.module.js' %}"></script>
<script src="{% static 'javascripts/prengapp/layout/controllers/navbar.controller.js' %}"></script>
<script src="{% static 'javascripts/prengapp/layout/controllers/about.controller.js' %}"></script>
<script src="{% static 'javascripts/prengapp/layout/directives/elem-ready.directive.js' %}"></script>
<script src="{% static 'javascripts/prengapp/notes/notes.module.js' %}"></script>
<script src="{% static 'javascripts/prengapp/notes/services/notes.service.js' %}"></script>
<script src="{% static 'javascripts/prengapp/notes/services/note-cats.service.js' %}"></script>
<script src="{% static 'javascripts/prengapp/notes/controllers/new-note.controller.js' %}"></script>
<script src="{% static 'javascripts/prengapp/notes/controllers/edit-note.controller.js' %}"></script>
<script src="{% static 'javascripts/prengapp/notes/controllers/notes.controller.js' %}"></script>
<script src="{% static 'javascripts/prengapp/notes/controllers/note-preview.controller.js' %}"></script>

