.note-sort {
    .note-sort__item {
        display: inline-block;
        width: 32%;

        .sort-number-badge {
            top: -10px;
            left: 10px;
            margin-right: 2px;
        }
        .sort-dir-number-badge {
            top: -5px;
            left: 16px;
        }
    }
}
.notes-display {
    margin-left: 6px;
    .note-display {
        display: inline-block;
        width: 33%;
        border-top: 2px dashed #f90129;
        vertical-align: top;
        margin: 12px auto 16px auto;
        &:first-of-type {
            margin-left: 0;
        }
        &:last-of-type {
            margin-right: 0;
        }
        .note-display__title {
            margin-top: 16px;
            margin-left: 16px;
            .note-display__title-body {
                color: $note-title-color;
            }
            .label {
                margin-left: 14px;
                margin-top: -18px;
                &:last-of-type {
                    margin-left: 6px;
                }
            }

        }
        .note-display__content {
            margin-left: 18px;

            .note-display__content-body {
                margin: 10px 10px 10px 0;
                font-size: 1.2em;
                color: $note-content-color;
            }
            .note-display__content-created_date {
                font-size: 0.9em;
                color: $note-date-color;
            }

            .note-display__content-info {
                margin-top: 38px;
                .note-display__content-created_date {
                    font-size: 1.1em;
                }
                .note-display__content-info-actions {
                    display: inline;
                    a {
                        display: inline-block;
                        margin: 0 10px;
                        &:first-of-type {
                            margin-left: 56px;
                        }
                    }
                }
            }
        }
    }
}


.note-new.note-new__form {
    width: 65%;

    margin: 40px auto 0 auto;
    .note-new__legend {
        color: #ce4a61;
    }
    .note-new__form-user-input-elements {
        margin-bottom: 24px;
    }
    .note-new_form-user-select-elements {

        .note-new_form-user--category-select {
            margin-right: 104px;
            .control-label {
                font-size: 16px;
            }
        }

        &:first-of-type {

        }

        .note-new_form--category-featured-together {
            display: inline;
            vertical-align: middle;
            .note-new_form-user--category-select {

            }
            .note-new_form-featured-toggle {
                margin-top: 30px;
            }
        }

    }
    .note-new_form-user-action-elements {

        .note-new_form-cancel {
            margin-left: 18px;
        }
        .note-new_form-submit {
            margin-left: 36px;
        }
    }
}

.note-form.note-edit__form {
    width: 75%;
    margin: 40px auto 0 auto;
    .note-edit__legend {
        color: #ce4a61;
    }
    .note-edit__form-user-input-elements {
        margin-bottom: 24px;
    }
    .note-edit_form-user-select-elements {
        .note-edit_form-user--category-select {
            .control-label {
                font-size: 16px;
            }
        }

        &:first-of-type {

        }

        .note-edit_form--category-featured-together {
            display: inline;
            .note-edit_form-user--category-select {
                margin-right: 22px;
            }

            .note-edit_form-two-checkbox {
                display: inline-block;
                .note-edit_form-featured-toggle {
                    top: 10px;
                }
            }
        }

    }
    .note-edit_form-user-action-elements {

        .note-edit_form-cancel {
            margin-left: 18px;
        }
        .note-edit_form-submit {
            margin-left: 36px;
        }
    }
}

.note-preview {
    width: 100%;
    margin: 26px 20px;

    .note-preview__title {
        font-size: 2.5em;
        color: #8c52ab;
    }

    .note-preview__info {
        margin-top: 26px;
        margin-bottom: 18px;
        .note-preview__info--content {
            margin-bottom: 30px;
            font-size: 1.7em;
            color: #12ba7a;
        }
        .note-preview__info--additional-info {
            .note-preview__info-category {
                margin-left: 32px;
                font-size: 110%;
            }

            .note-preview__info-is-featured {
                margin-left: 44px;
                margin-right: 20px;
                font-size: 110%;
            }
            .note-preview__info--additional-info-creation-time {
                display: inline;
                color: $note-date-color;
            }
        }
    }

    .note-preview__published {
        font-size: 24px;
        margin-top: 26px;
        margin-bottom: 28px;
    }
    .note-preview__links {
        display: inline-block;
        a {
            font-size: 18px;
            margin-right: 26px;
            &:hover {
                font-size: 20px;
                color: #1617e8;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                transition: all 0.3s ease;
                text-decoration: none;
            }

            &:first-of-type {
                margin-left: 20px;
            }
            &:last-of-type {
                margin-left: 58px;
            }
        }
    }
}

.note-form {
    width: 540px;
}
.ngdialog-content-increase {
    width: 660px;
    .modal-body-2 {
        margin-top: 46px;
    }
}
